@import "Utils/variables";
@import "Utils/mixins";

@import "Base/base";

@import "Layout/header-menu";
@import "Layout/footer";

@import "Page/acceuil";
@import "Page/menu";


.illustration {
    height: 260px;
    width: auto;
    z-index: 0;
    // position: fixed;
    img {
        height: 100%;
    }
}

.menu {
    z-index: 1;
    height: auto;
    background-color: rgb(233, 233, 233);
    border-radius: 35px 35px 0 0;
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    row-gap: 36px;

    &__name {
        display: flex;
        align-items: center;
        gap: 35px;
        padding-top: 40px;
        @include global-padding;

        p {
            font-family: shrikhand;
            font-size: 1.7em;
        }

        i {
            font-size: 1.5em;
        }
    }
}

.menu_cat {
    width: auto;
    display: flex;
    flex-direction: column;

    h3 {
        padding-bottom: 24px;
        @include global-padding;

        .green-underline {
        text-decoration: underline $colour-tertiary 3px;
        text-underline-offset: 9px;
        }
    }

    .global__plat {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;

    }
    
    .plat {
        height: 68px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        gap: 8px;
        border-radius: 15px;
        padding: 0 21px 0 11px;
        @include cards-shadow;


        &__name {
            display: flex;
            gap: 7px;

            h4 {
                font-size: 1.1em;
                font-weight: 500;
            }
        }

        &__details {
            display: flex;
            justify-content: space-between;

            .ingredients {
                font-size: 0.9em;
                font-weight: 300;
            }

            .price {
                font-size: 0.95em;
                font-weight: 600;
                color: rgb(53, 53, 53);
            }
        }
    }
}